extends layout

block content
  h1
    | Game of Thrones Episodes
  p
    form
      input(type='text' name='keyword')
      input(type='button' value='Search')
  p
    a(href='/episodes/new') New Episode
  section.episodes
    dl
      - for episode in episodes
        dt
          = episode.title
          a(href='/episodes/#{episode._id}/edit') edit
          a(href='/episodes/#{episode._id}?_method=DELETE'
            onclick='if(!confirm("Are you sure?")) return false;') destroy
        dd
          p= episode.description
          p.legend Comments
          ul
          - for comment in episode.comments
            li #{comment.description} - #{comment.rating}/5
